* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #FAFAFA;
}

body {
    margin: 0;
    font-family: "Roboto Mono", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W3", monospace;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow: hidden;
}

.container {
    padding-top: 38px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container .editor {
    display: block;
    box-sizing: border-box;
    font: inherit !important;
    background: none;
    width: 100%;
    height: 100%;
    /*max-width: 960px;*/
    margin: 0 auto;
    padding: 1em 2em;
    cursor: text !important;
    border: none;
    resize: none;
}

.container .editor:focus {
    outline: none;
}

/* laptop */
@media (min-width: 500px) {
    .container .editor {
        padding: 1em 5em !important;
    }
}

/* desktop */
@media (min-width: 1024px) {
    .container .editor {
        padding: 1em 10em !important;
    }
}

/* ultra wide */
@media (min-width: 1824px) {
    .container .editor {
        padding: 1em 20em !important;
    }
}

.title {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-size: 14px;
    background: #EEE;
    color: #323232;
    border-bottom: 1px solid #DDD;
    position: fixed;
    width: 100%;
    height: 37px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
}

.title .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
